*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #363636;
}

.box{
    display: flex;
    width: calc(100% / 10);
    aspect-ratio: 1 / 1;
    border: 1px solid white;
    color: white;
    justify-content: center;
    align-items: center;
}

.bg_active{
background-color: #07575B ;
}


.container{
    display: flex;
    flex-wrap: wrap;
    width: 80% ;
    max-width: 1080px;
    margin: 0 auto ;
    margin-top: 3rem;
}

